{% extends 'base_admin.html.twig' %}

{% block title %}Habitats index
{% endblock %}

{% block body %}

	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Habitats</h1>
		<a href="{{ path('app_habitats_new') }}" class="btn btn-success">
			<i class="fas fa-plus"></i>
			Ajouter un nouvel habitat
		</a>
	</div>

	<table class="table table-striped text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th class="comment-column">Description</th>
				<th>Images</th>
				<th>Date de création</th>
				<th>Date de modification</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for habitat in habitats %}
				<tr>
					<td>{{ habitat.id }}</td>
					<td>{{ habitat.nom }}</td>
					<td class="comment-column">{{ habitat.description }}</td>
					<td>{{ habitat.images ? habitat.images|json_encode : '' }}</td>
					<td>{{ habitat.creationDate ? habitat.creationDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ habitat.modificationDate ? habitat.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_habitats_show', {'id': habitat.id}) }}" class="btn btn-info btn-sm mr-2">
							<i class="fas fa-eye"></i>
							Voir
						</a>
						<a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}" class="btn btn-primary btn-sm">
							<i class="fas fa-edit"></i>
							Modifier
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		// Supprimer l'alerte après 3 secondes
		document.addEventListener("DOMContentLoaded", function() {
			var alerts = document.querySelectorAll('.custom-alert');
			alerts.forEach(function(alert) {
				setTimeout(function() {
					alert.remove();
				}, 3000);
			});
		});
	</script>
{% endblock %}