{% extends 'base.html.twig' %}

{% block title %}Habitats index{% endblock %}

{% block body %}
    <h1>Habitats index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Description</th>
                <th>Images</th>
                <th>CreationDate</th>
                <th>ModificationDate</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for habitat in habitats %}
            <tr>
                <td>{{ habitat.id }}</td>
                <td>{{ habitat.Nom }}</td>
                <td>{{ habitat.Description }}</td>
                <td>{{ habitat.Images ? habitat.Images|json_encode : '' }}</td>
                <td>{{ habitat.creationDate ? habitat.creationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ habitat.modificationDate ? habitat.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_habitats_show', {'id': habitat.id}) }}">show</a>
                    <a href="{{ path('app_habitats_edit', {'id': habitat.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_habitats_new') }}">Create new</a>
{% endblock %}
