{% extends 'base_admin.html.twig' %}

{% block title %}Commentaires Habitats Index
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<style>
		.comment-column {
			max-width: 200px; /* Ajustez cette valeur selon vos besoins */
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
		}
	</style>
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Commentaires Habitats</h1>
		<a href="{{ path('app_commentaires_habitats_new') }}" class="btn btn-success">
			<i class="fas fa-plus"></i>
			Ajouter un nouveau commentaire
		</a>
	</div>

	<table class="table table-striped">
		<thead>
			<tr>
				<th>Id</th>
				<th class="comment-column">Avis</th>
				<th>Etat</th>
				<th>Amélioration</th>
				<th>Date de création</th>
				<th>Date de modification</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for commentaires_habitat in commentaires_habitats %}
				<tr>
					<td>{{ commentaires_habitat.id }}</td>
					<td class="comment-column">{{ commentaires_habitat.avis }}</td>
					<td>{{ commentaires_habitat.etat }}</td>
					<td>{{ commentaires_habitat.amelioration }}</td>
					<td>{{ commentaires_habitat.creationDate ? commentaires_habitat.creationDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ commentaires_habitat.modificationDate ? commentaires_habitat.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_commentaires_habitats_show', {'id': commentaires_habitat.id}) }}" class="btn btn-info btn-sm mr-2">
							<i class="fas fa-eye"></i>
							Voir
						</a>
						<a href="{{ path('app_commentaires_habitats_edit', {'id': commentaires_habitat.id}) }}" class="btn btn-primary btn-sm">
							<i class="fas fa-edit"></i>
							Modifier
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="7">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}
