{% extends 'base.html.twig' %}

{% block title %}ZOO Arcadia - Habitats
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/header.css') }}">

{% endblock %}

{% block body %}

    <main role="main">
	<div class="pt-5 text-center container text-white">
	<div class="row">
	<div class="col-md-12">
	<h1 class="text-center">Habitats</h1>
	<p class="text-center">Explore the different habitats of ZOO Arcadia</p>
	</div>
	</div>
	</main>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('JS/bootstrap.min.js') }}"></script>
{% endblock %}
