{% extends 'base.html.twig' %}

{% block title %}ZOO Arcadia
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
	<link rel="stylesheet" href="{{ asset('CSS/header.css') }}">
{% endblock %}

{% block body %}

    <main role="main">

		<section class="pt-5 text-center container text-white">
			<div class="row">
			<div class="col-lg-8 col-md-8 mx-auto">
				<h1 class="text-white mt-4 text-shadow logo">Bienvenu au Zoo Arcadia</h1>
				<p class="lead text-white">Découvrez un monde fascinant où la nature rencontre l'aventure</p>
			</div>
			</div>
		</section>
	
	
	
       <div class="container pt-3 mt-1 text-white">
        <section id="about" class="about text-center grey-background">
            <h2 class="mb-4">À propos de nous</h2>
            <p>Arcadia est un zoo situé en France, près de la forêt de Brocéliande en Bretagne, fondé en 1960. Nous offrons une expérience unique avec une variété d'animaux exotiques et indigènes répartis par habitats naturels : savane, jungle et marais.</p>
            <p>La santé et le bien-être des animaux sont notre priorité. Une équipe de vétérinaires qualifiés veille quotidiennement à leur santé, et leur alimentation est soigneusement contrôlée.</p>
            <p>Arcadia est fier d'être totalement indépendant énergétiquement, utilisant exclusivement des sources d'énergie renouvelable. Nous nous engageons pour l'écologie et sensibilisons nos visiteurs à la préservation de l'environnement.</p>
            <p>Découvrez Arcadia, où la nature et l'aventure se rencontrent, et ressentez notre engagement envers un avenir durable.</p>
        </section>

        <section class="pt-5 text-center" id="animals">
            <h2 class="mb-4">Nos Animaux</h2>
            <p class="lead">Découvrez quelques-unes des espèces fascinantes que vous pouvez rencontrer lors de votre visite au Zoo Arcadia :</p>

            <div class="row justify-content-center py-5 row-cols-1 row-cols-xs-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
                {% for espece in especes %}
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="{{ espece.image }}" class="card-img-top" alt="{{ espece.nom }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ espece.nom }}</h5>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
			{% if especes|length > 8 %}
			<button id="see-more-btn" class="btn btn-primary mt-4">Voir plus</button>
			{% endif %}
        </section>
    </div>


	{#}
	    <section id="habitats" class="habitats text-center">
	        <h2 class="mb-4">Les Habitats</h2>
	        <p class="lead">Le Zoo Arcadia propose une diversité d'habitats soigneusement recréés pour abriter une multitude d'espèces. Explorez nos différents habitats :</p>
	        <ul class="list-group">
	            <li class="list-group-item">Savane africaine</li>
	            <li class="list-group-item">Jungle tropicale</li>
	            <li class="list-group-item">Forêt humide</li>
	            <li class="list-group-item">Désert aride</li>
	            <li class="list-group-item">Zone aquatique</li>
	        </ul>
	    </section>
	
	    <section id="services" class="services text-center">
	        <h2 class="mb-4">Services</h2>
	        <p class="lead">Découvrez les services proposés par le Zoo Arcadia :</p>
	        <div class="row">
	            <div class="col-md-4 mb-4">
	                <div class="card">
	                    <div class="card-body">
	                        <h5 class="card-title">Restauration</h5>
	                        <p class="card-text">Profitez de nos restaurants et stands de nourriture pour une pause gourmande lors de votre visite.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 mb-4">
	                <div class="card">
	                    <div class="card-body">
	                        <h5 class="card-title">Visite guidée (gratuite)</h5>
	                        <p class="card-text">Participez à une visite guidée gratuite et découvrez des faits intéressants sur nos animaux et habitats.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 mb-4">
	                <div class="card">
	                    <div class="card-body">
	                        <h5 class="card-title">Visite petit train</h5>
	                        <p class="card-text">Montez à bord de notre petit train pour une visite confortable et amusante du zoo.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	
	    <section id="avis-validés" class="avis text-center">
	        <h2 class="mb-4">Ce qu'ils en pensent</h2>
	        <div class="row">
	            {% for avis in avisValides %}
	                <div class="col-md-3">
	                    <div class="card mb-2">
	                        <div class="card-body" style="max-height: 200px; overflow:auto; min-height:200px">
	                            <h5 class="card-title">{{ avis.Pseudo }}</h5>
	                            <p class="card-text">{{ avis.Commentaire }}</p>
	                        </div>
	                    </div>
	                </div>
	            {% endfor %}
	        </div>
	    </section>
	
	
	    <section id="section-avis" class="avis text-center">
	        <h2 class="mb-4">Ajouter un avis</h2>
	            {% if not avisForm %}
	        <div class="row justify-content-center">
	            <div>
	                {{ form_start(form) }}
	                    <div class="form-group col-md-2 mx-auto">
	                        {{ form_label(form.Pseudo, 'Entrez votre pseudo') }}
	                        {{ form_widget(form.Pseudo, {'attr': {'class': 'form-control'}}) }}
	                    </div>
	                    <div class="form-group col-md-4 mx-auto">
	                        {{ form_label(form.Commentaire, 'Partagez votre expérience concernant le zoo') }}
	                        {{ form_widget(form.Commentaire, {'attr': {'class': 'form-control', 'rows': '5'}}) }}
	                    </div>
	                    <button type="submit" class="btn btn-primary">Envoyer</button>
	                {{ form_end(form) }}
	            </div>
	        </div>
	        {% else %}
	        <p> Vous avez déjà soumis un avis 🙂 </p>
	        {% endif %}
	    </section>
	</div>
	
	<div id="confirmation-message" class="flash-message alert alert-success text-center">
	    <p>Votre avis a été soumis avec succès et est en attente de validation.</p>
	</div>
	 
	#}
	</main>
	<footer class="text-center">
	    <p>&copy; {{ 'now' | date('Y') }} Zoo Studi. Tous droits réservés.</p>
	</footer>
{% endblock %}
{% block javascripts %}
	{{ parent() }}
		<script>
		document.addEventListener('DOMContentLoaded', function () {
const toggleBtn = document.querySelector('.toggle_btn');
const toggleBtnIcon = document.querySelector('.toggle_btn i');
const dropDownMenu = document.querySelector('.dropdown_menu');

toggleBtn.onclick = function () {
dropDownMenu.classList.toggle('open');
const isOpen = dropDownMenu.classList.contains('open')

toggleBtnIcon.classList = isOpen ? 'fa-solid fa-xmark' : 'fa-solid fa-bars'
}
});
	</script>
	<script>
document.getElementById('see-more-btn').addEventListener('click', function() {
    const hiddenCards = document.querySelectorAll('.animal-card.d-none');
    hiddenCards.forEach((card, index) => {
        if (index < 8) {
            card.classList.remove('d-none');
        }
    });

    // Si moins de 8 cartes cachées restent, masquer le bouton "Voir plus"
    if (hiddenCards.length <= 8) {
        this.style.display = 'none';
    }
});
</script>
	<script src="{{ asset('JS/bootstrap.min.js') }}"></script>
{% endblock %}
