{% extends 'base.html.twig' %}

{% block title %}ZOO Arcadia - Services
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/header.css') }}">
{% endblock %}

{% block body %}

    <main role="main">
	</main>

{% endblock %}
{% block javascripts %}
	{{ parent() }}
	<script src="{{ asset('JS/bootstrap.min.js') }}"></script>
{% endblock %}
