{% extends 'base.html.twig' %}

{% block title %}ZOO Arcadia - Services{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/services.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/header.css') }}">
    <style>
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .page-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(15px);
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: white; /* Assurez-vous que le texte est visible */
        }

        footer * {
            background: none; /* Supprime tous les fonds spécifiques aux éléments enfants */
            color: inherit; /* Assurez-vous que le texte hérite de la couleur du footer */
        }
    </style>
{% endblock %}

{% block body %}
    <main role="main" class="content-wrap">
        <section id="header-services" class="pt-5 text-center container text-white">
            <div class="row">
                <div class="col-lg-8 col-md-8 mx-auto">
                    <h1 class="text-white mt-4 text-shadow logo">Découvrez nos services</h1>
                    <p class="lead text-white">Découvrez nos services exclusifs et transformez votre visite en une expérience inoubliable avec l'aide de notre équipe dévouée !</p>
                </div>
            </div>
        </section>

        <section>
            <div class="cards">
                <div class="wrapper">
                    {% for service in services %}
                        <div class="box">
                            <h2>{{ service.nom }}</h2>
                            <p>{{ service.description }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>
    </main>
{% endblock %}

{% block footer %}
    <footer>
        {% include 'home/footer.html.twig' %}
    </footer>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('JS/bootstrap.min.js') }}"></script>
{% endblock %}
