{% extends 'base_admin.html.twig' %}

{% block title %}Comptes Rendus index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/dataTables.bootstrap4.min.css">
{% endblock %}

{% block body %}

<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Comptes Rendus</h1>
    {% if is_granted('ROLE_VETERINAIRE') %}
    <a href="{{ path('app_comptes_rendus_new') }}" class="btn btn-success">
        <i class="fas fa-plus"></i>
        Ajouter un nouveau compte rendu
    </a>
    {% endif %}
</div>

<table id="comptesRendusTable" class="table table-striped text-center">
    <thead>
        <tr>
            <th>Id</th>
            <th>Prénom</th>
            <th>État de l'animal</th>
            <th>Détail de l'état</th>
            <th>Type de nourriture</th>
            <th>Grammage de nourriture</th>
            <th>Date de passage</th>
            <th>Date de création</th>
            <th>Date de modification</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for comptes_rendu in comptes_rendus %}
        <tr>
            <td class="align-middle">{{ comptes_rendu.id }}</td>
            <td class="align-middle">{{ comptes_rendu.animal.prenom }}</td>
            <td class="align-middle">{{ comptes_rendu.EtatAnimal }}</td>
            <td class="align-middle">{{ comptes_rendu.DetailEtat }}</td>
            <td class="align-middle">{{ comptes_rendu.TypeNourriture }}</td>
            <td class="align-middle">{{ comptes_rendu.GrammageNourriture }}</td>
            <td class="align-middle">{{ comptes_rendu.DatePassage ? comptes_rendu.DatePassage|date('d-m-Y H:i:s') : '' }}</td>
            <td class="align-middle">{{ comptes_rendu.creationDate ? comptes_rendu.creationDate|date('d-m-Y H:i:s') : '' }}</td>
            <td class="align-middle">{{ comptes_rendu.modificationDate ? comptes_rendu.modificationDate|date('d-m-Y H:i:s') : '' }}</td>
            <td class="align-middle">
                <a href="{{ path('app_comptes_rendus_show', {'id': comptes_rendu.id}) }}" class="btn btn-info btn-sm mr-2">
                    <i class="fas fa-eye"></i>
                    Voir
                </a>
                {% if is_granted('ROLE_VETERINAIRE') %}
                <a href="{{ path('app_comptes_rendus_edit', {'id': comptes_rendu.id}) }}" class="btn btn-primary btn-sm">
                    <i class="fas fa-edit"></i>
                    Modifier
                </a>
                {% endif %}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="10">Aucun enregistrement trouvé</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/dataTables.bootstrap4.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#comptesRendusTable').DataTable({
                "columnDefs": [
                    { "orderable": false, "targets": [2,3,4,5,9] }
                ]
            });
        });
    </script>
{% endblock %}
