{% extends 'base_admin.html.twig' %}

{% block title %}Horaires
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Horaires</h1>
		<div class="d-flex">
			<a href="{{ path('app_horaires_edit', {'id': horaire.id}) }}" class="btn btn-primary mr-2">
				<i class="fas fa-edit"></i>
				Modifier
			</a>
			{{ include('horaires/_delete_form.html.twig') }}
		</div>
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ horaire.id }}</td>
			</tr>
			<tr>
				<th>Lundi</th>
				<td>{{ horaire.Lundi }}</td>
			</tr>
			<tr>
				<th>Mardi</th>
				<td>{{ horaire.Mardi }}</td>
			</tr>
			<tr>
				<th>Mercredi</th>
				<td>{{ horaire.Mercredi }}</td>
			</tr>
			<tr>
				<th>Jeudi</th>
				<td>{{ horaire.Jeudi }}</td>
			</tr>
			<tr>
				<th>Vendredi</th>
				<td>{{ horaire.Vendredi }}</td>
			</tr>
			<tr>
				<th>Samedi</th>
				<td>{{ horaire.Samedi }}</td>
			</tr>
			<tr>
				<th>Dimanche</th>
				<td>{{ horaire.Dimanche }}</td>
			</tr>
			<tr>
				<th>Date de création</th>
				<td>{{ horaire.creationDate |date('Y-m-d H:i:s') }}</td>
			</tr>
			<tr>
				<th>Date de modification</th>
				<td>{{ horaire.modificationDate ? horaire.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_horaires_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
