{% extends 'base.html.twig' %}

{% block title %}Nourriture{% endblock %}

{% block body %}
    <h1>Nourriture</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ nourriture.id }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ nourriture.Type }}</td>
            </tr>
            <tr>
                <th>Quantite</th>
                <td>{{ nourriture.Quantite }}</td>
            </tr>
            <tr>
                <th>DatePassage</th>
                <td>{{ nourriture.DatePassage ? nourriture.DatePassage|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>CreationDate</th>
                <td>{{ nourriture.creationDate ? nourriture.creationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>ModificationDate</th>
                <td>{{ nourriture.modificationDate ? nourriture.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_nourriture_index') }}">back to list</a>

    <a href="{{ path('app_nourriture_edit', {'id': nourriture.id}) }}">edit</a>

    {{ include('nourriture/_delete_form.html.twig') }}
{% endblock %}
