{% extends 'base.html.twig' %}

{% block title %}Habitat - {{ habitat.nom }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/header.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/habitatss.css') }}">
    <style>       
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .page-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(15px);
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: white; /* Assurez-vous que le texte est visible */
        }

        footer * {
            background: none; /* Supprime tous les fonds spécifiques aux éléments enfants */
            color: inherit; /* Assurez-vous que le texte hérite de la couleur du footer */
        }
    </style>
{% endblock %}

{% block body %}
    <main role="main" class="content-wrap">
        <div class="container pt-5 text-center container text-white habitat-info">
            <h1>{{ habitat.nom }}</h1>
            <p class="description">{{ habitat.description }}</p>
            <img src="{{ habitat.image }}" alt="{{ habitat.nom }}" class="img-fluid mb-2 rounded">

            <h2>Animaux</h2>
            <div class="row justify-content-center py-5 g-4">
                {% for animal in animaux %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-4">
                        <div class="animal-circle">
                            <img src="{{animal.Image}}" alt="{{ animal.Prenom }}" class="img-fluid rounded-circle">
                            <h5 class="animal-name">{{ animal.Prenom }}</h5>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
