{% extends 'base.html.twig' %}

{% block title %}Habitat - {{ habitat.nom }}{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	<link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/header.css') }}">
	<link rel="stylesheet" href="{{ asset('CSS/habitatss.css') }}">
	 <style>       
			html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .page-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(15px);
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: white; /* Assurez-vous que le texte est visible */
        }

        footer * {
            background: none; /* Supprime tous les fonds spécifiques aux éléments enfants */
            color: inherit; /* Assurez-vous que le texte hérite de la couleur du footer */
        }
	</style>
{% endblock %}

{% block body %}

    <main role="main" class="content-wrap">
        <div class="container habitat-info">
            <table class="table">
                <tbody>
                    <tr>
                        <th>Nom</th>
                        <td>{{ habitat.nom }}</td>
                    </tr>
                    <tr>
                        <th>Description</th>
                        <td>{{ habitat.description }}</td>
                    </tr>
                    <tr>
                        <th>Images</th>
                        <td>
                            {% for image in habitat.image %}
                            <p>{{ image }}</p> <!-- Debug: affichez l'URL de l'image -->
                            <img src="{{ image }}" alt="{{ habitat.nom }}" class="img-fluid mb-2">
                        {% endfor %}
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2>Animaux</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th>Prénom</th>
                        <th>Race</th>
                        <th>Images</th>
                    </tr>
                </thead>
                <tbody>
                    {% for animal in animaux %}
                        <tr>
                            <td>{{ animal.Prenom }}</td>
                            <td>{{ animal.Race }}</td>
                            <td>{{ animal.Images ? animal.Images}}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </main>

{% endblock %}
{% block javascripts %}

{% endblock %}
