{% extends 'base.html.twig' %}

{% block title %}Habitat - {{ habitat.nom }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('CSS/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/header.css') }}">
    <link rel="stylesheet" href="{{ asset('CSS/habitatsDesc.css') }}">
    <style>       
        html, body {
            height: 100%;
            margin: 0;
            display: flex;
            flex-direction: column;
        }

        .page-container {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        main {
            flex: 1;
        }

        footer {
            background: rgba(0, 0, 0, 0.3);
            backdrop-filter: blur(15px);
            height: 50px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            color: white; /* Assurez-vous que le texte est visible */
        }

        footer * {
            background: none; 
            color: inherit;
        }
    </style>
{% endblock %}

{% block body %}
    <main role="main" class="content-wrap">
        <div class="container pt-5 text-white">
            <div class="row">
                <div class="col-md-6 description-container d-flex align-items-center">
                    <div>
                        <h1 class="text-white mt-4 text-shadow">{{ habitat.nom }}</h1>
                        <p class="description">{{ habitat.description }}</p>
                    </div>
                </div>
                <div class="col-md-6 text-center pt-3">
                    <img src="{{ habitat.image }}" alt="{{ habitat.nom }}" class="img-fluid mb-2 img">
                </div>
            </div>

            <h2 class="pb-2 fw-bold text-white border-bottom">Animaux</h2>
            <div class="row justify-content-center py-5 g-4 align-items-center">
                {% for animal in animaux %}
                    <div class="col-6 col-sm-4 col-md-3 col-lg-2 text-center mb-2">
                        <div class="animal-circle">
                        {% set csrf_token = csrf_token('click-animal') %}

                            <a href="{{ path('app_animal_show', {'id': animal.id}) }}">
                                <img src="{{animal.Image}}" alt="{{ animal.Prenom }}" class="img-fluid rounded-circle">
                                <h5 class="animal-name">{{ animal.Prenom }}</h5>
                            </a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
{% endblock %}
