{% extends 'base_admin.html.twig' %}

{% block title %}Etablissement index
{% endblock %}

{% block body %}

    {% for label, messages in app.flashes %}
        {% for message in messages %}
            {% set alertClass = label == 'success' ? 'alert-success' : (label == 'error' ? 'alert-danger' : 'alert-info') %}
            <div class="alert text-center {{ alertClass }} custom-alert alert-dismissible fade show" role="alert">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}

	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Établissements</h1>
		<a href="{{ path('app_etablissement_new') }}" class="btn btn-success">
			<i class="fas fa-plus"></i>
			Ajouter un nouvel établissement
		</a>
	</div>

	<table class="table table-striped text-center">
		<thead>
			<tr>
				<th>Id</th>
				<th>Nom</th>
				<th>Description</th>
				<th>Date de création</th>
				<th>Date de modification</th>
				<th>Actions</th>
			</tr>
		</thead>
		<tbody>
			{% for etablissement in etablissements %}
				<tr>
					<td>{{ etablissement.id }}</td>
					<td>{{ etablissement.nom }}</td>
					<td>{{ etablissement.description }}</td>
					<td>{{ etablissement.creationDate ? etablissement.creationDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>{{ etablissement.modificationDate ? etablissement.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
					<td>
						<a href="{{ path('app_etablissement_show', {'id': etablissement.id}) }}" class="btn btn-info btn-sm mr-2">
							<i class="fas fa-eye"></i>
							Voir
						</a>
						<a href="{{ path('app_etablissement_edit', {'id': etablissement.id}) }}" class="btn btn-primary btn-sm">
							<i class="fas fa-edit"></i>
							Modifier
						</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="6">Aucun enregistrement trouvé</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>
{% endblock %}

{% block javascripts %}
	{{ parent() }}
	<script>
		// Supprimer l'alerte après 3 secondes
		document.addEventListener("DOMContentLoaded", function() {
			var alerts = document.querySelectorAll('.custom-alert');
			alerts.forEach(function(alert) {
				setTimeout(function() {
					alert.remove();
				}, 3000);
			});
		});
	</script>
{% endblock %}