{% extends 'base.html.twig' %}

{% block title %}Users
{% endblock %}

{% block body %}
	<h1>Users</h1>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>MemberType</th>
				<td>{{ user.memberType }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ user.password }}</td>
			</tr>
			<tr>
				<th>Creation_date</th>
				<td>{{ user.creationDate ? user.creationDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Modification_date</th>
				<td>{{ user.modificationDate ? user.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_users_index') }}">back to list</a>

	<a href="{{ path('app_users_edit', {'id': user.id}) }}">edit</a>

	{{ include('users/_delete_form.html.twig') }}
{% endblock %}
