{% extends 'base_admin.html.twig' %}

{% block title %}Utilisateurs
{% endblock %}

{% block body %}
	<div class="d-flex justify-content-between align-items-center mb-4">
		<h1>Utilisateurs</h1>
		<div class="d-flex">
			<a href="{{ path('app_users_edit', {'id': user.id}) }}" class="btn btn-primary mr-2">
				<i class="fas fa-edit"></i>
				Modifier
			</a>
			{{ include('users/_delete_form.html.twig') }}
		</div>
	</div>

	<table class="table">
		<tbody>
			<tr>
				<th>Id</th>
				<td>{{ user.id }}</td>
			</tr>
			<tr>
				<th>Role</th>
				<td>{{ user.roles|join(', ') }}</td>
			</tr>
			<tr>
				<th>Email</th>
				<td>{{ user.email }}</td>
			</tr>
			<tr>
				<th>Password</th>
				<td>{{ user.password }}</td>
			</tr>
			<tr>
				<th>Date de création</th>
				<td>{{ user.creationDate ? user.creationDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
			<tr>
				<th>Date de modification</th>
				<td>{{ user.modificationDate ? user.modificationDate|date('Y-m-d H:i:s') : '' }}</td>
			</tr>
		</tbody>
	</table>

	<a href="{{ path('app_users_index') }}" class="btn btn-secondary mt-3">Retour à la liste</a>
{% endblock %}
